<div id="songs">
	<div class="search form-group has-feedback">
		<input type="search" class="form-control" placeholder="Search Music" name="search">
	    <i class="glyphicon glyphicon-search form-control-feedback"></i>
	</div>

	<ul class="songs list-group">
		<li class="list-group-item" ng-repeat="song in list.songs">
			<a href="#">
				<i class="glyphicon glyphicon-play"></i>
			</a>			
			<div class="info">
				<h4 class="list-group-item-heading">{{song.songname}}</h4>
    			<p class="list-group-item-text">{{song.artistname}}</p>
			</div>				
    		<div class="btn-group" role="group">
				<button type="button" class="btn btn-default">Today</button>
				<button type="button" class="btn btn-default">Friday</button>
			</div>
		</li>
	</ul>

	<span us-spinner spinner-on="list.showSpinner"></span>
</div>